[Service]
# Change to the path of pishutdown.py
ExecStart=/usr/bin/python /home/pi/pishutdown.py
WorkingDirectory=/home/pi/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pishutdown
User=root
Group=root

[Install]
WantedBy=multi-user.target
